<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>


<body>
    <p>Error 404... We can't find the page you requested :(</p>
</body>
</html>