<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
</head>


<body>
    <h1>Weather...</h1>
   <div class="myform">
       <form>
           <input type="text" placeholder="Location">
           {{!-- <button>Search</button> --}}
       </form>
       <p class="text" id="p0"></p>
       <p class="text" id="p1"></p>
       <p class="text" id="p2"></p>
   </div>

<script src="/js/app.js"></script>
</body>
</html>